[client]
port                     = 7810
socket                   = /home/mysql/mysql_edu/tmp/mysql.sock

[mysqld]

!include /home/mysql/mysql_edu/etc/mysqld.cnf

port                     = 7810
socket                   = /home/mysql/mysql_edu/tmp/mysql.sock
pid-file                 = /home/mysql/mysql_edu/var/mysql.pid
basedir                  = /home/mysql/mysql_edu/
datadir                  = /home/mysql/mysql_edu/var/

# tmp dir settings
tmpdir                   = /home/mysql/mysql_edu/tmp/
slave-load-tmpdir        = /home/mysql/mysql_edu/tmp/ 

# 
language                 = /home/mysql/mysql_edu/share/mysql/english/
character-sets-dir       = /home/mysql/mysql_edu/share/mysql/charsets/

# skip options 
skip-name-resolve
skip-symbolic-links
skip-external-locking
skip-slave-start

#sysdate-is-now

# res settings
back_log                 = 50
max_connections          = 1000
max_connect_errors       = 10000
#open_files_limit         = 10240

connect-timeout          = 10
wait-timeout             = 28800
interactive-timeout      = 28800
slave-net-timeout        = 600
net_read_timeout         = 30
net_write_timeout        = 60
net_retry_count          = 10
net_buffer_length        = 16384
max_allowed_packet       = 64M

# 
table_cache              = 512
thread_stack             = 192K
thread_cache_size        = 20
thread_concurrency       = 8

# qcache settings
query_cache_size         = 256M
query_cache_limit        = 2M
query_cache_min_res_unit = 2K

# default settings
# time zone
default-time-zone        = system
character-set-server     = utf8
default-storage-engine   = InnoDB

# tmp & heap 
tmp_table_size           = 512M
max_heap_table_size      = 512M

log-bin                  = mysql-bin
log-bin-index            = mysql-bin.index
relay-log                = relay-log
relay_log_index          = relay-log.index

# warning & error log
log-warnings             = 1
log-error                = /home/mysql/mysql_edu/log/mysql.err

log-output               = FILE

# slow query log
slow_query_log           = 1
long-query-time          = 1
slow_query_log_file      = /home/mysql/mysql_edu/log/slow.log
#log-queries-not-using-indexes
#log-slow-slave-statements

general_log              = 1
general_log_file         = /home/mysql/mysql_edu/log/mysql.log
max_binlog_size          = 1G
max_relay_log_size       = 1G

# if use auto-ex, set to 0
relay-log-purge          = 1

# max binlog keeps days
expire_logs_days         = 0

binlog_cache_size        = 1M

# replication
replicate-wild-ignore-table     = mysql.%
replicate-wild-ignore-table     = test.%
# slave_skip_errors=all

key_buffer_size                 = 256M
sort_buffer_size                = 2M
read_buffer_size                = 2M
join_buffer_size                = 8M
read_rnd_buffer_size            = 8M
bulk_insert_buffer_size         = 64M
myisam_sort_buffer_size         = 64M
myisam_max_sort_file_size       = 10G
myisam_repair_threads           = 1
myisam_recover

group_concat_max_len            = 64K

transaction_isolation           = REPEATABLE-READ

innodb_file_per_table

#innodb_status_file              = 1
#innodb_open_files              = 2048
innodb_additional_mem_pool_size = 100M
innodb_buffer_pool_size         = 4G
innodb_data_home_dir            = /home/mysql/mysql_edu/var/
innodb_data_file_path           = ibdata1:1G:autoextend
innodb_file_io_threads          = 4
innodb_thread_concurrency       = 16
innodb_flush_log_at_trx_commit  = 1

innodb_log_buffer_size          = 8M
innodb_log_file_size            = 1900M
innodb_log_files_in_group       = 2
innodb_log_group_home_dir       = /home/mysql/mysql_edu/var/

innodb_max_dirty_pages_pct      = 90
innodb_lock_wait_timeout        = 50
#innodb_flush_method            = O_DSYNC

old-passwords                   = 0  

[mysqldump]
quick
max_allowed_packet              = 64M

[mysql]
disable-auto-rehash
default-character-set           = utf8
connect-timeout                 = 3

[isamchk]
key_buffer = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer = 256M 
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
